body {
  font-family: sans-serif;
  background-color: #0a0e17;
  color: #f0e6d2;
  padding: 15px;
}

input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #c8aa6e;
  background: #010a13;
  color: #fff;
  margin-bottom: 20px;
}

.champion-card {
  background: #1e2328;
  border: 1px solid #c8aa6e;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
}

button {
  background: #c8aa6e;
  color: #1e2328;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-weight: bold;
}
